@using EcoDriving.Resources
@model EcoDriving.Models.PeopleViewModel

@{
    ViewBag.Title = "Charts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavaScript
{
   <script type="text/javascript" src="@Url.Content("/amcharts/amcharts/amcharts.js")"></script>
   <script type="text/javascript" src="@Url.Content("/amcharts/amcharts/serial.js")"></script>
}

<h2>Charts</h2>


@using (Html.BeginForm("Charts", "Home", FormMethod.Post))
{
    <input type="file" name="RideFile">
    
    <input type="submit" class="" name="Draw" value="@Translations.Draw" />

    }

@if (!string.IsNullOrEmpty(Model.Draw))
{
    <div id="chartdiv" style="width: 640px; height: 400px;"></div>
    
    <script type="text/javascript">

        var chartData = [
            @{
    foreach (var item in @Model.EcoDrivingData)
    {
                    @Html.Raw(" { time: " + (int.Parse(item.FrameTime) / 1000) + ", rpm: " + item.Rpm + " }, ")
    }
            }
        ];

    </script>
    
    <script type="text/javascript">
        AmCharts.ready(function () {
            // chart code will go here
            // console.log(chartData, 'Dziala !!');
            // http://www.amcharts.com/tutorials/your-first-chart-with-amcharts/

            var chart = new AmCharts.AmSerialChart();
            chart.dataProvider = chartData;
            chart.categoryField = "time";

            var graph = new AmCharts.AmGraph();
            graph.valueField = "rpm";
            graph.type = "column";
            chart.addGraph(graph);

            chart.write('chartdiv');

        });
</script>
}
    
