@using EcoDriving.Resources
@model EcoDriving.Models.PeopleViewModel

@{
    ViewBag.Title = "People";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kursanci</h2>

@using (Html.BeginForm("People", "Home", FormMethod.Post))
{
    <h3>Dodaj kursanta:</h3>
    <div style="float: left; font-size: 20px">
        @Html.LabelFor(model => model.Name)   
        @Html.Raw(" : ")  
        <br/>
        @Html.LabelFor(model => model.Surname)
        @Html.Raw(" : ")
    </div>  <div style="float: left">
        @Html.TextBoxFor(model => model.Name)
        <br/>
        @Html.TextBoxFor(model => model.Surname)
    </div>
    
    <input type="submit" class="ui-button" name="Confirm" value="@Translations.Confirm" />
}

@using (Html.BeginForm("People", "Home", FormMethod.Get))
{
    <h3>Szukaj kursanta:</h3>
    <div style="float: left; font-size: 20px">
        @Html.LabelFor(model => model.Name)   
        @Html.Raw(" : ")  
        <br/>
        @Html.LabelFor(model => model.Surname)
        @Html.Raw(" : ")
    </div>  <div style="float: left">
         @Html.TextBoxFor(model => model.Name)
        <br/>
        @Html.TextBoxFor(model => model.Surname)
    </div>
    
    <input type="submit" class="ui-button" name="Search" value="@Translations.Search" />
}

<h3>
<table>
    @if (Model.SearchResults != null)
    {
        <br/>
        <tr><td>Wybór</td><td>ID</td><td>Imie</td><td>Nazwisko</td></tr>
        foreach (var item in @Model.SearchResults)
        {
            @Html.Raw(string.Format("<tr><td>{0}</td><td>{1}</td><td>{2}</td><td>{3}</td></tr>", Html.ActionLink(Translations.Choose, "PeopleChoose", new { id = item.Id}), item.Id, item.Name, item.Surname))
        }
    }
</table>
    </h3>


