@using EcoDriving.Resources
@model EcoDriving.Models.PeopleViewModel

@{
    ViewBag.Title = "People";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>People</h2>

@using (Html.BeginForm("People", "Home", FormMethod.Get))
{
    <div>
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)

        @Html.LabelFor(model => model.Surname)
        @Html.TextBoxFor(model => model.Surname)
    </div>
    
    <input type="submit" class="" name="Search" value="@Translations.Search" />
}

<table>
    @if (Model.SearchResults != null)
    {
        foreach (var item in @Model.SearchResults)
        {
            @Html.Raw(string.Format("<tr><td>{0}</td><td>{1}</td><td>{2}</td><td>{3}</td></tr>", string.Format("{0}/{1}", Html.ActionLink(Translations.Choose, "PeopleChoose", "Home"), item.Id), item.Id, item.Name, item.Surname)) 
        }
    }
</table>

@using (Html.BeginForm("People", "Home", FormMethod.Post))
{
    <div>
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)
    </div>
    <div>
        @Html.LabelFor(model => model.Surname)
        @Html.TextBoxFor(model => model.Surname)
    </div>
    
    <input type="submit" class="" name="Confirm" value="@Translations.Confirm" />
}



