@using EcoDriving.Resources
@model EcoDriving.Models.PeopleViewModel

@{
    ViewBag.Title = "Wybrano kursanta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavaScript
{
   <script type="text/javascript" src="@Url.Content("/amcharts/amcharts/amcharts.js")"></script>
   <script type="text/javascript" src="@Url.Content("/amcharts/amcharts/serial.js")"></script>
}

<h2>@String.Format("Wybrano kustanta: {0} {1}", Model.Name, Model.Surname)</h2>

<h3>Dodaj przejazd dla kursanta</h3>


@using (Html.BeginForm("PeopleChoose", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.LabelFor(model => model.Date)
        @Html.TextBoxFor(model => model.Date)
    </div>
    <div>
        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description)
    </div>
    
    <input type="file" class="ui-button" name="RideFile">
    
    <input type="submit" class="ui-button" name="Confirm" value="@Translations.Confirm" />
    
    <input type="submit" class="ui-button" name="ShowGraph" value="@Translations.ShowGraph" />

}
<br/>
@*@if (!string.IsNullOrEmpty(Model.Confirm))
{
    if (!string.IsNullOrEmpty(Model.RideFile))
     {
         Model.FileLabel = "Dodano przejazd do bazy.";
         @Html.LabelFor(model => model.FileLabel)
     }
    if(string.IsNullOrEmpty(Model.RideFile))
    {
        Model.FileLabel = "Wybierz najpierw plik.";
         @Html.LabelFor(model => model.FileLabel)
    }
}*@

@if (!string.IsNullOrEmpty(Model.ShowGraph))
{
    <div id="chartdiv" style="width: 640px; height: 400px;"></div>
    
    <script type="text/javascript">

        var chartData = [
            @{
    foreach (var item in @Model.EcoDrivingData)
    {
                    @Html.Raw(" { speed: " + item.Speed + ", order: " + item.FrameTime + " }, ")
    }
            }
        ];

    </script>
    
    <script type="text/javascript">
        AmCharts.ready(function () {
            // chart code will go here
            // console.log(chartData, 'Dziala !!');
            // http://www.amcharts.com/tutorials/your-first-chart-with-amcharts/

            var chart = new AmCharts.AmSerialChart();
            chart.dataProvider = chartData;
            chart.categoryField = "order";

            var graph = new AmCharts.AmGraph();
            graph.valueField = "speed";

            chart.angle = 30;
            chart.depth3D = 15;
            graph.type = "line";
            graph.fillAlphas = 0.3;
            chart.addGraph(graph);

            chart.write('chartdiv');

        });
</script>
}
    