@model EcoDriving.Models.AnalyzeModel

@section JavaScript
{
   <script type="text/javascript" src="@Url.Content("/amcharts/amcharts/amcharts.js")"></script>
   <script type="text/javascript" src="@Url.Content("/amcharts/amcharts/serial.js")"></script>
}

<!-- todo dac id diva unikatowo dla kazdego renderowanego, uzyc html.raw zeby skleic id z wartoscia z modelu -->
<div id="chartdiv2" style="width: 640px; height: 400px;"></div>
    
    <script type="text/javascript">

        var chartData = [
            @{
    foreach (var item in @Model.EcoDrivingData)
    {
                    @Html.Raw(" { speed: " + item.Speed + ", order: " + int.Parse(item.FrameTime)/1000 + " }, ");
    }
            }
        ];

    </script>
 <script type="text/javascript">
     AmCharts.makeChart("chartdiv2",
				{
				    "type": "serial",
				    "pathToImages": "http://cdn.amcharts.com/lib/3/images/",
				    "categoryField": "Distance",
				    "startDuration": 1,
				    "categoryAxis": {
				        "gridPosition": "start"
				    },
				    "trendLines": [],
				    "graphs": [
						{
						    "balloonText": "[[title]] of [[category]]:[[value]]",
						    "bullet": "round",
						    "bulletAlpha": 0,
						    "id": "AmGraph-1",
						    "title": "graph 1",
						    "type": "smoothedLine",
						    "valueField": "column-1"
						},
						{
						    "balloonText": "[[title]] of [[category]]:[[value]]",
						    "bullet": "round",
						    "bulletAlpha": 0,
						    "id": "AmGraph-2",
						    "title": "graph 2",
						    "type": "smoothedLine",
						    "valueField": "column-2"
						}
				    ],
				    "guides": [],
				    "valueAxes": [
						{
						    "id": "ValueAxis-1",
						    "title": "Axis title"
						}
				    ],
				    "allLabels": [],
				    "balloon": {},
				    "legend": {
				        "useGraphSettings": true
				    },
				    "titles": [
						{
						    "id": "Title-1",
						    "size": 15,
						    "text": "Chart Title"
						}
				    ],
				    "dataProvider": [

                      @* @{
                            foreach (var item in @Model.EcoDrivingData)
                             {
                                @Html.Raw("{\"Distance\": \"" + item.Distance + "\", \"column-1\": \"" + item.CurrentFuelConsumption + "\", \"column-2\": \"" + item.CurrentFuelConsumption +"\", },")
                             }
                        }*@
						
						 @{
                            for(int i =0 ; i<Model.EcoDrivingData.Count ; i++)
                             {
                                @Html.Raw("{\"Distance\": \"" + Model.EcoDrivingData[i].Distance + "\", \"column-1\": \"" + Model.EcoDrivingData[i].CurrentFuelConsumption + "\", \"column-2\": \"" + Model.EcoDrivingData[i].CurrentFuelConsumption +"\", },")
                             }
                        }

                 
				    ]
				}
			);
		</script>

<h3>Wykres nr1 - Prędkość[km/h] / Czas [s]</h3>