@model EcoDriving.Models.AnalyzeModel

@{
    ViewBag.Title = "SingleAnalyze";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavaScript
{
   <script type="text/javascript" src="@Url.Content("/amcharts/amcharts/amcharts.js")"></script>
   <script type="text/javascript" src="@Url.Content("/amcharts/amcharts/serial.js")"></script>
}

<h2>Kierowca: @Model.Name @Model.Surname <br/> Analiza przejazdu nr: @Model.DriveNumber</h2>



<fieldset>
    <legend>ANALIZA</legend>

    <h4>Dystans Przejazdu: @Model.DriveDistance km. <br/>
        Czas Przejazdu: @Model.DriveTimeMinute:@Model.DriveTimeSeconds s. <br/>
        Czas Postoju: @Model.TimeOfStop s.<br/>
        Ilość zatrzymań: @Model.NumberOfStops <br/> <br/>
        
        Całkowita Ilość Obrotów: @Model.TotalRpm <br/>
        Zużyte Paliwo: @Model.FuelUsed l.<br/> <br/>

        Maxymalne Obroty: @Model.MaxRpm RPM <br/>
        Maxymalna Prędkość: @Model.MaxSpeed km/h <br/>
        Maxymalna Moc: @Model.MaxPower KW <br/> <br/>

        Średnia Prędkość: @Model.AverageSpeed km/h <br/>
        Średnie Obroty: @Model.AverageRpm RPM <br/>
        Średnia Moc: @Model.AveragePower KW <br/>
        Średnie Zużycie Paliwa: @Model.AverageFuel l/100km <br/>
    </h4>
</fieldset>


<div id="chartdiv" style="width: 640px; height: 400px;"></div>
    
    <script type="text/javascript">

        var chartData = [
            @{
    foreach (var item in @Model.EcoDrivingData)
    {
                    @Html.Raw(" { speed: " + item.Speed + ", distance: " + item.Distance.ToString().Replace(",", ".") + " }, ");
    }
            }
        ];

    </script>
    
<script type="text/javascript">
    AmCharts.ready(function () {
        // chart code will go here
        // console.log(chartData, 'Dziala !!');
        // http://www.amcharts.com/tutorials/your-first-chart-with-amcharts/

        var chart = new AmCharts.AmSerialChart();
        chart.dataProvider = chartData;
        chart.categoryField = "distance";

        var graph = new AmCharts.AmGraph();
        graph.valueField = "speed";

        chart.angle = 30;
        chart.depth3D = 15;
        graph.type = "smoothedLine";
        graph.fillAlphas = 0.3;
        graph.lineAlpha = 1,
		graph.lineThickness = 2,
        chart.addGraph(graph);

        chart.write('chartdiv');

    });
</script>

<h3>Wykres nr1 - Prędkość[km/h] / Czas [s]</h3>

@Html.Partial("_Chart1", Model)